<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKS</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Books</h1>
    <ul>
    <% books.forEach( el => { %>
            <li class='bookItem' data-id='<%=el._id%>'>
                <span><%= el.title %></span>
                <span class='checker <%= el.checkedOut === true ? 'checkedOut' : 'checkedIn' %>'>Checkout Status: <%= el.checkedOut === true ? 'Checked Out' : 'Available'%></span>
                <span class='del'> Delete </span>
            </li>
    <% }) %>
    </ul>

    <h2><%= user.userName %> has <%= left %> books left to read.</h2>

    <form action="/books/createBook" method='POST'>
        <input type="text" placeholder="Enter Book Title" name='bookItem' required>
        <input type="text" placeholder="Enter Book Author" name='bookAuthor' required>
        <input type="text" placeholder="Enter Book Description" name='bookDescription'>
        <input type="text" placeholder="Enter Book Subject or Genre" name='bookSubjects'>
        <input type="text" placeholder="Enter Notes" name='bookNotes'>
        <input type="submit">
    </form>

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>
