<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BOOKS</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="layout">
        <h1>Books</h1>
        <ul class="book-list">
            <% todoTasks.forEach(data=> {%>
            <li class="todo-list-item">
                <div class="todo-list-item-title">
                    <%= data.title %>
                </div>
                <div class="todo-list-item-content">
                    <%= data.content %>
                </div>
                <!-- <a href="/edit/<%=data._id %>" class="edit"><span class="fas fa-edit"></span></a>
                <a href="/edit/remove/<%=data._id %>" class="remove"><span class="fas fa-times"></span></a> -->
            </li>
            <% }) %>
        </ul>
        <!-- <ul>
        <% books.forEach( el => { %>
                <li class='bookItem' data-id='<%=el._id%>'>
                    <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.book %></span>
                    <span class='del'> Delete </span>
                </li>
        <% }) %>
        </ul>

        <h2><%= user.userName %> has <%= left %> books left to read.</h2> -->

        <form action="/books/createBook" method='POST'>
            <input type="text" placeholder="Enter Book Name" name='bookItem'>
        <input type="submit">
        </form>
        <a href="/logout">Logout</a>   
    </section>



    <script src="js/main.js"></script>
</body>
</html>
